@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 48px;
  left: 0px;
  overflow: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.header {
  display: flex;
  background-color: rgb(80 170 174);
  top: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100vw;
  position: sticky;
  top: 0;
  height: 3.5rem;
  z-index: 1000;
}
#hamburger {
  font-size: 220%;
  cursor: pointer;
  display: none;
}
#hamburger:hover {
  cursor: pointer;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  cursor: pointer;
}

.header__right {
  display: flex;
  padding: 0 2rem;
}

.header__right button {
  border: none;
  background: none;
}
#signin {
  background-color: black;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.hamburgerSignIn {
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: large;
  padding: 0.5rem 2rem;
  margin-left: 2rem;
}

.header__rightBtn {
  padding: 10px;
}

.header__rightBtn button {
  cursor: pointer;
  color: white;
  font-size: medium;
}

.header__rightBtn:hover {
  cursor: pointer;
  background-color: rgb(122, 136, 146);
  border-radius: 15px;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1001;
}

.sidepanel a {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.font120 {
  font-size: 120% !important;
  font-weight: bold;
}
#hamburgerClosebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 150% !important;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
main {
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  text-align: center;
  background: rgb(60, 60, 60);
  margin-top: auto;
  width: 100%;
}
.banner {
  width: 100vw;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("https://stockphoto.com/search.php?q=kids+playing+outdoors");
  position: relative;
}
.banner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
}

/* Main */
main {
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

/* Nav bar */
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.categories__container {
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  margin: 1rem 0.5rem;
  padding: 0 1rem;
}

.category i {
  font-size: 1.4rem;
}

.category:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.imgwrapper {
  display: flex;
  gap: 2em;
  margin-bottom: 50px;
}
/* images start */
.img1 {
  /* align-self: flex-start; */
  width: 300px;
  height: auto;
  border: 3px solid salmon;
  border-radius: 30px;
}

.img2 {
  /* align-self: flex-end; */
  width: 300px;
  height: auto;
  border: 3px solid gold;
  margin-left: 1em;
  border-radius: 30px;
}

.img3 {
  /* justify-self: end; */
  width: 300px;
  height: auto;
  border: 3px solid burlywood;
  border-radius: 30px;
}
/* images en */

/* stories container flex */
.stories {
  display: flex;
  gap: 100px;
  justify-content: center;
  flex: 0 1 300px;
  margin-bottom: 50px;
}

/* story box on the left */
.storyleft {
  padding: 1em;
  box-shadow: darkgoldenrod 2px 2px 2px;
  border: 2px black solid;
  background-color: cornsilk;
  flex: 0 1 600px;
}
/* story box on the right */
.storyright {
  padding: 1em;
  box-shadow: darkgoldenrod 2px 2px 2px;
  border: 2px black solid;
  background-color: rgb(178, 229, 231);
  flex: 0 1 600px;
}
/* Stories end */

/* Mission declaration on the top */
.mission {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  display: block;
  padding: 20px;
  background-image: repeating-linear-gradient(
    rgb(223, 223, 223),
    white,
    rgb(202, 202, 202)
  );
  width: 100%;
}

/* hidden class for hidden message */
.hidden {
  display: none;
}

/* hidden message box starts */
.modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* hidden message box ends */

/* hidden messaeg - ceo image */
.ceo-img {
  float: left;
  object-fit: cover;
  object-position: 20% 20%;
  width: 20rem;
  height: 13rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* hidden messaeg - ceo message */
.ceo-message {
  line-height: 1.4rem;
}

/* hidden messaeg - ceo sig */
.ceo-sig {
  text-align: right;
  font-weight: 900;
}

/* overlay initializzes together with hidden message box to blur the rest of the page */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* close modal button */
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* Joint Group Footer Starts*/
/* Footer */
.footer .footer-content .fa {
  padding: 0px;
  text-align: center;
  margin: 5px 2px;
  font-size: 20px;
  width: 50px;
  color: white;
}

.footer {
  background: rgb(63, 60, 60);
  color: #bebdbd;
  height: 400px;
  position: relative;
  width: 100%;
}
.footer .footer-content {
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h2 {
  color: #bebdbd;
}
.footer .footer-content .about h1 span {
  color: rgb(19, 129, 141);
}
.footer .footer-content .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 5px;
  border-radius: 5px;
  transition: all 0.3s;
}
.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #bebdbd;
  text-decoration: none;
}
.footer .footer-content .links ul a:hover {
  color: rgb(243, 233, 233);
  margin-left: 15px;
  transition: all 0.3s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}
.footer .footer-content .contact-form ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #bebdbd;
  text-decoration: none;
}
.footer .footer-content .contact-form ul a:hover {
  color: rgb(243, 233, 233);
  margin-left: 15px;
  transition: all 0.3s;
}
.footer .footer-content .contact-form .contact-btn {
  float: right;
}
.btn-big {
  padding: 10px 10px;
  line-height: 30px;
  background-color: rgb(19, 129, 141);
  color: white;
  border-radius: 3px;
  font-size: 20px;
}
.text-input {
  padding: 10px 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
}
.footer .footer-bottom {
  background: rgb(44, 43, 42);
  color: #574c4c;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  padding-top: 20px;
}

/* joint group footer ends*/

/* media query for responsiveness */
@media only screen and (max-width: 658px) {
  body {
    min-width: auto;
  }

  .container {
    width: 100%;
  }
  .categories__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .category {
    align-self: center;
  }

  .imgwrapper {
    display: none;
  }

  .stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 0 1 100%;
    gap: 20px;
  }

  .storyleft,
  .storyright {
    margin: 40px;
    flex: 0 1 50%;
    align-self: center;
  }
}

.create-space {
  height: 120px;
}

@media screen and (max-width: 420px) {
  /* For hamburger in mobile */

  .header__rightBtn {
    display: none;
  }
  #hamburger {
    width: 100%;
    display: initial;
    margin-right: 2rem;
  }
  .categories__container {
    display: none;
  }

  #moreButtonDropdown {
    z-index: 2;
  }
}
@media screen and (max-width: 1020px) {
  .header__rightBtn .hide {
    display: none;
  }
  .categories__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px black solid;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    align-content: center;
    justify-content: center;
    margin: 20px;
  }

  .create-space {
    height: 170px;
  }
}

@media screen and (min-width: 600px) {
  /* media query ends */
  .create-space {
    height: 0px;
  }
}
