@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
}
.line {
  width: 90%;
  text-align: center;
  margin-bottom: 1.25rem;
}

.banner {
  width: 100vw;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* note: do not use background the image will repeat, use background-image */
  background-image: url("https://images.unsplash.com/photo-1494804265872-476520fd1a21?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  /* background: url("https://images.unsplash.com/photo-1565613727874-e1dcd9d15daa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80");  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Begin of  -A layer of gray to make the banner text clearer above the image */
  position: relative;
  /* End of  -A layer of gray to make the banner text clearer above the image */
}
/* Begin of  -A layer of gray to make the banner text clearer above the image */
.banner__backgroundColor {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 85vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of  -A layer of gray to make the banner text clearer above the image */
.header {
  display: flex;
  background-color: rgb(80 170 174);
  top: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100vw;
  position: sticky;
  top: 0;
  height: 3.5rem;
  z-index: 1000;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.heading > h1,
p {
  text-align: center;
  padding: 1rem;
  color: white;
}
.heading > h1 {
  font-size: 3rem;
}
.heading > p {
  font-size: 2rem;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: rgb(80 170 174);
}
.contact-info div span:nth-child(2) {
  font-weight: 900;
  font-size: 1.1rem;
  color: rgb(80 170 174);
}
.contact-info .text {
  padding-top: 0.4rem;
}

.contact-form {
  padding: 2rem 3rem;
  background-color: linen;
  border-top: 1px solid #c7c7c7;
}
.contact-form form {
  padding-bottom: 1rem;
}
.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.map {
  border-top: 1px solid #c7c7c7;
}
.send-btn {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .contact-form form div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.6rem;
  }
}
/* Begin of footer */
footer {
  text-align: center;
  background: rgb(60, 60, 60);
  /* begin of change - this is done for footer to stick to bottom */
  margin-top: auto;
  /* end of change - this is done for footer to stick to bottom */
  width: 100%;
}
/* footer responsive when screen size reduces */
@media screen and (max-width: 720px) {
  /* footer */
  .footer_content {
    display: flex;
    flex-direction: column !important;
  }
  .footer_content p {
    max-width: 15rem;
    margin: 0;
    text-align: inherit !important;
  }
  .footer_container {
    font-size: xx-small;
  }
}

.footer_container {
  display: flex;
  flex-direction: column;
  font-size: small;
  color: #bebdbd;
}
.footer_container a {
  color: #bebdbd;
  text-decoration: none;
}
.footer_container a:visited {
  color: #bebdbd;
  text-decoration: none;
}
.footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 4rem;
}
.footer_content ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

.footer_content p {
  max-width: 20rem;
  margin: 0;
  padding: 0;
}
.footer-section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  background-color: rgb(44, 43, 42);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_content div {
  padding: 0.2rem;
}
.logo-text {
  color: rgb(80 170 174);
}
/* End of footer */

/* Begin of  - Header and header button */
.header {
  display: flex;
  background-color: rgb(80 170 174);
  top: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100vw;
  position: sticky;
  top: 0;
  height: 3.5rem;
  z-index: 1000;
}
#hamburger {
  font-size: 220%;
  cursor: pointer;
  display: none;
}
#hamburger:hover {
  cursor: pointer;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  cursor: pointer;
}

.header__right {
  display: flex;
  padding: 0 2rem;
}

.header__right button {
  border: none;
  background: none;
}
#signin {
  background-color: black;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.hamburgerSignIn {
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: large;
  padding: 0.5rem 2rem;
  margin-left: 2rem;
}

.header__rightBtn {
  padding: 10px;
}

.header__rightBtn button {
  cursor: pointer;
  color: white;
  font-size: medium;
}

.header__rightBtn:hover {
  cursor: pointer;
  background-color: rgb(122, 136, 146);
  border-radius: 15px;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1001;
}

.sidepanel a {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.font120 {
  font-size: 120% !important;
  font-weight: bold;
}
#hamburgerClosebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 150% !important;
}
/* End of  - Header and header button */

/* Begin of header buttons */
.categories__container {
  background: white;
  border: 1px solid lightgray;
  border-radius: 3rem;
  width: 86%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  margin: 1rem 0.5rem;
  padding: 0 1rem;
}

.category i {
  font-size: 1.4rem;
}

.category:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
.category a {
  text-decoration: none;
}
/* end of header buttons */

/* Begin of responsive media query */
@media screen and (max-width: 275px) {
  .app__title {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  /* For hamburger in mobile */
  .header__rightBtn {
    display: none;
  }
  #hamburger {
    width: 100%;
    display: initial;
    margin-right: 2rem;
  }
  .categories__container {
    display: none;
  }

  .carousel img {
    height: 200px;
  }
  .prev,
  .next {
    font-size: 10px;
  }

  /* for reviews */
  .userFeedback__container {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1020px) {
  /* Removing right button text as screen size decrease */
  .header__rightBtn .hide {
    display: none;
  }
  /* Moving popular tour cards vertically place */
  .popularTours__container {
    display: inherit;
    justify-content: space-between;
  }
  .popularTours__menu {
    margin: 1rem 0.2rem;
  }
  /* corousal spacing */
  .one-image-container {
    padding: 0.2rem;
  }
}

/* footer responsive when screen size reduces */
@media screen and (max-width: 720px) {
  /* footer */
  .footer_content {
    display: flex;
    flex-direction: column !important;
  }
  .footer_content p {
    max-width: 15rem;
    margin: 0;
    text-align: inherit !important;
  }
  .footer_container {
    font-size: xx-small;
  }
}

/* End of responsive media query */

