@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
/* Body */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 720px;
}
/* Header */

.header {
  display: flex;
  background-color: rgb(80 170 174);
  top: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  height: 3.5rem;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header__right {
  display: flex;
  padding: 0 2rem;
}

.header__right button {
  border: none;
  background: none;
}
#signin {
  background-color: black;
  border-radius: 20px;
}

.header__rightBtn {
  padding: 10px;
}

.header__rightBtn button {
  cursor: pointer;
  color: white;
  font-size: medium;
}

.header__rightBtn:hover {
  cursor: pointer;
  background-color: rgb(122, 136, 146);
  border-radius: 15px;
}

/* Main */
main {
  padding: 0 auto;
  /*display: flex;
  flex-direction: column;
  align-items: flex-end;*/
  width: 95%;
  /*float: right;*/
}

/* Nav bar */
.container {
  /*display: flex;
  flex-direction: column;*/
  width: 80%;
}

.categories__container {
display: flex;
justify-content: center;
}

.category {
display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid gray;
height: 3rem;
width: 10rem;
border-radius: 10px;
margin: 1rem 0.5rem;
padding: 0 1rem;
}

.category i {
font-size: 1.4rem;
}

.category:hover {
cursor: pointer;
color: white;
background-color: black;
}

#nav_flight {
color: white;
background-color: black;
}

/* Footer */
/*footer {
text-align: center;
background-color: linen;
margin-top: auto;
padding: 1rem;
width: 100%;
}*/

/* Footer */
.footer .footer-content .fa {  
  padding: 0px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;  
  width: 50px;  
  color: white;
  
}  

.footer {
background: rgb(63, 60, 60);
color: #bebdbd;
height:400px;
position: relative;
width:100%
}
.footer .footer-content {
height: 350px;
display: flex;
}
.footer .footer-content .footer-section {
flex: 1;
padding: 25px;
}

.footer .footer-content h2 {
color: #bebdbd;
}
.footer .footer-content .about h1 span{
color: rgb(19,129,141);
} 
.footer .footer-content .contact span{
display: block;
font-size: 1.1em;
margin-bottom: 8px;
} 


.footer .footer-content .about .socials a{
border : 1px solid gray;
width: 45px;
height: 40px;
text-align: center;
display: inline-block;
font-size: 5px;
border-radius: 5px;
transition: all .3s;

}
.footer .footer-content .links ul a{
display: block;
margin-bottom: 10px;
font-size: 20px;
color: #bebdbd;
text-decoration: none;

}
.footer .footer-content .links ul a:hover{
color:rgb(243, 233, 233);
margin-left: 15px;
transition: all .3s;
}


.footer .footer-content .about .socials a:hover {
border :1px solid white;
color: white;
transition: all .3s;
}
.footer .footer-content .contact-form  ul a{
display: block;
margin-bottom: 10px;
font-size: 20px;
color: #bebdbd;
text-decoration: none;
}
.footer .footer-content .contact-form ul a:hover{
color:rgb(243, 233, 233);
margin-left: 15px;
transition: all .3s;
}
.footer .footer-content .contact-form .contact-btn{
float: right;
}

aside {
width: 20%;
float: left;
margin-left: 50px;
margin-right: 10px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.search_results {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 13px 13px 13px #666666;
}

.timing {
    margin-bottom: 0%;
    margin-left: 50px;
}

.location, .stops {
    margin-top: 5px;
    margin-left: 50px;
    color: gray;
    font-size: 90%;
}

.search_results .fa-plane {
    zoom:450%;
    float: left;
    margin: 5px 0px 0px 5px;
}

#journey {
    margin: 0%;
    width: 35%;
    float: left;
}

#duration {
    margin: 0%;
    width: 30%;
    float:left;
}

#price {
    width: 20%;
    float: right;
    text-align: center;
}

#pricetext {
    margin-bottom: 0%;
}

.deals {
    font-size: 80%;
    color: gray;
    margin: 0px 0px 10px 0px;
}

input {
    margin-bottom: 10px;
}

.spacing_search_result {
    height: 25px;
  }

  #flightquality {
      font-size: 85%;;
  }